@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-weight: 300;
}

.logo {
  font-family: 'Grechen Fuemen', cursive;
}

.navbar-link {
  @apply font-medium text-light hover:text-support;
}

.navbar-btn {
  @apply font-medium px-4 py-2 rounded text-light bg-main hover:bg-support;
}

.btn-hover {
  transition: all 0.5s ease-in-out;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide {
  animation: slideUp 0.6s ease-in forwards;
  animation-delay: 0.2s;
}